<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="ngApp" ng-controller="ngController">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div ng-init="data=[]">

        <h1 th:text="'Hello, ' + ${name} + '!'" />
        <p>祝福:</p>
        <ul>
            <li ng-repeat="item in data">
                <span>{{item.fromUserName}}</span>
                <span>:</span>
                <span>{{item.content}}</span>
            </li>
        </ul>
    </div>

    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

    <script type="text/javascript">
        var list = [];
        var app = angular.module('ngApp', []);
        app.controller('ngController', function ($scope, $http, $interval) {

            $interval(function () {
                $http({
                    method: "Get",
                    url: "/hellos"
                }).then(function success(response) {
                    $scope.data = response.data;
                    list = response.data;
                    console.log(list);
                })

            }, 1000);

        });

    </script>
</body>

</html>